<app-header></app-header>

<section class="container">

 <ng-container *ngIf="cartProductions">

  <div class="example-table-container mat-elevation-z8">
  <table id="production-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stock Status</th>
          <th>Brand Name</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let cartProduction of cartProductions"  class="table-row">
          <td ><div class="table-cell">{{cartProduction.production.name}}</div></td>
          <td ><div class="table-cell">{{cartProduction.production.stockStatus}}</div></td>
          <td ><div class="table-cell">{{cartProduction.production.brandName}}</div></td>
          <td ><div class="table-cell">{{cartProduction.price | currency: 'GBP'}}</div></td>
          <td> <p (click)="delete(cartProduction.production.id)"><mat-icon class="delete-btn">delete_outlin</mat-icon></p> </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="total mat-elevation-z8">
      <mat-card>
        <p>Total ( {{cartProductions.length}} items)</p>
        <p>{{totalPrice | currency: 'GBP'}}</p>
        <button class="clear-btn" (click)="clear()">Clear Cart</button>
      </mat-card>
    </div>
</ng-container>
</section>

<section class="container">
<app-viewed-productions></app-viewed-productions>
</section>
