<app-header></app-header>

<section class="container-cart">

 <ng-container *ngIf="cartProductions">

  <div class="example-table-container mat-elevation-z8">
  <table id="production-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Stock Status</th>
          <th>Brand Name</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let cartProduction of cartProductions"  class="table-row">
          <td ><div class="table-cell"><img src="{{cartProduction.production.mainImage}}"></div></td>
          <td ><div class="table-cell">{{cartProduction.production.stockStatus}}</div></td>
          <td ><div class="table-cell">{{cartProduction.production.brandName}}</div></td>
          <td ><div class="table-cell">{{cartProduction.price | currency: 'GBP'}}</div></td>
          <td> <button (click)="delete(cartProduction.production.id)"><mat-icon>delete_outlin</mat-icon></button> </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div>
      <mat-card>
        <p>Total ( {{cartProductions.length}} items)</p>
        <p>{{totalPrice | currency: 'GBP'}}</p>
        <button (click)="clear()">Clear Cart</button>
      </mat-card>
    </div>
</ng-container>
</section>



<!-- <div class="container-cart">
<ng-container *ngIf="dataSource">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   <ng-container matColumnDef="picture">
    <th mat-header-cell *matHeaderCellDef> Picture </th>
    <td mat-cell *matCellDef="let cartItems"> <img src="{{cartItems.mainImage}}">  </td>
  </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let cartItems"> {{cartItems.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="brandName">
      <th mat-header-cell *matHeaderCellDef> Brand Name </th>
      <td mat-cell *matCellDef="let cartItems"> {{cartItems.brandName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="colour">
      <th mat-header-cell *matHeaderCellDef> colour </th>
      <td mat-cell *matCellDef="let cartItems"> {{cartItems.colour}} </td>
    </ng-container>

     <ng-container matColumnDef="stockStatus">
        <th mat-header-cell *matHeaderCellDef> stock Status </th>
        <td mat-cell *matCellDef="let cartItems"> {{cartItems.stockStatus}} </td>
      </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let cartItems"> {{cartItems.price.amount | currency: 'GBP'}} </td>
      </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let cartItems"> <button (click)="delete(cartItems.id)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>
  
 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card>
    <p>Total ( {{dataSource.length}} items)</p>
    <p>{{totalPrice | currency: 'GBP'}}</p>
  </mat-card>

</ng-container>
</div> -->

<app-viewed-productions></app-viewed-productions>