<app-header></app-header>

<div class="container-details">   
<ng-container *ngIf="production">
  <div class="row">
    <div class="colum detail-imag">
      <img  src="{{production.mainImage}}">
    </div>
    <div class="colum detail-info">
      <h2>{{production.name}}</h2>
      <p><span>SKU: </span>{{production.SKU}}</p>
      <P>{{production.stockStatus}}</P>

      <P>{{production.brandName}}</P>
      <P><span>{{production.price.currency}}</span> {{production.price.amount | currency: 'GBP'}} </P>
      <P>{{production.colour}}</P>

      <p>Sizes</p>
      <ul *ngFor="let size of sizes">
       <button class="size">{{size}}</button>      
      </ul>

      <button (click)="addToCart(production)" class="btn add-cart">Add to Cart</button>

      <P>{{production.description}}</P>

    </div>

  </div>
</ng-container>
</div> 

<div class="container viewed-productions">
<app-viewed-productions></app-viewed-productions>
</div>