<app-header></app-header>

 <div class="container">

<div class="container">
    <p class="result-text"><span>{{productLen}}</span> Result</p>
    
    <mat-card class="production-card" *ngFor="let production of productions">
    <a [routerLink]="['/production',production.id]">
    <img mat-card-image src="{{production.mainImage}}" alt="Photo of products">

    <mat-card-content>
        <div>
            <p>{{production.name}}</p>
        </div>
        <div>
            <p>{{production.brandName}}</p>
        </div>
        <div>        
            <p><span>{{production.price.currency}}</span>  {{production.price.amount}}</p>
        </div>
    </mat-card-content>
    </a>

  </mat-card>
</div>
 


<app-viewed-productions></app-viewed-productions>